
.destination {
    background-image: url(../Images/background-destination-mobile.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 150px;
    padding-left: 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content;
}

@media (min-width: 756px) and (max-width: 1200px) {
    .destination {
        background-image: url(../Images/background-destination-tablet.jpg);
        padding-left: 3%;
    }
}

@media (min-width: 1200px) {
    .destination {
        background-image: url(../Images/background-destination-desktop.jpg);
        padding-left: 5%;
    }
    
}

.destination > h2 {
    height: 40px;
    padding: 20px 10px 20px 10px;
    color: white;
    margin-top: 10%;
    margin-left: 10%;
}
.destination-menu {
    height: 70px;
    width: fit-content;
    margin-top: 100px;
    margin-bottom: 20px;
}
.destination-menu > button {
    border: none;
    background-color: transparent;
    width: 80px;
    height: 60px;
    margin: 10px 20px 10px 20px;
    color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    
}
.destination-menu > button:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.destination-visual {
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    margin: 10% 5% 5% 25% ; 
}
.destination-visual > img {
    width: 100%;
}

.destination-description {
    margin-right: 5%;
    margin-top: 5%;
    padding: 10px 20px 10px 20px;
    color: white;
    max-width: 500px;
}

.destination-description > h3 {
    font-size: 6em;
    font-weight: 100;
    padding: 0 0 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.destination-description > p {
    width: 90%;
    max-width: 400px;
    margin-bottom: 50px;
}

.destination-distance {
    display: grid;
    grid-template-columns: 200px 200px;
}

.destination-description > hr {
    margin-bottom: 20px;
}

.destination-distance > p {
    margin: 0;
    padding: 5px;
    font-size: 0.8em;
}

.destination-distance > p > span {
    font-size: 1.5em;
    font-weight: 400;
    
}