.technology {
    background-image: url(../Images/ImageTechnology/background-technology-mobile.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 150px;
}

@media (min-width: 756px) and (max-width: 1200px) {
    .technology {
        background-image: url(../Images/ImageTechnology/background-technology-tablet.jpg);
    }
}

@media (min-width: 1200px) {
    .technology {
        background-image: url(../Images/ImageTechnology/background-technology-desktop.jpg);
    }
}